@charset "UTF-8";
/**
 * @doc 默认主题的文章样式
 * @author Heanes
 * @time 2018-05-25 14:52:57 周五
 */
.article-detail {
  padding: 20px 0; }
  .article-detail .article-content {
    padding: 10px;
    word-break: break-all;
    line-height: 2;
    font-family: "微软雅黑", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* 隔行换色 */ }
    .article-detail .article-content h1, .article-detail .article-content h2, .article-detail .article-content h3, .article-detail .article-content h4, .article-detail .article-content h5, .article-detail .article-content h6 {
      border-bottom: 1px solid #ddd; }
    .article-detail .article-content h2 {
      margin: 20px 0;
      line-height: 2.3em; }
    .article-detail .article-content > h3 {
      margin: 10px 0;
      line-height: 2em; }
    .article-detail .article-content h4 {
      margin: 1em 0 1em 2em; }
    .article-detail .article-content p {
      font-size: 14px;
      margin-bottom: 0.3em; }
      .article-detail .article-content p.tip {
        text-indent: 0;
        background-color: #f8f8f8;
        border-left: 4px solid #f66;
        padding: 12px 20px; }
    .article-detail .article-content > p, .article-detail .article-content p.is-normal {
      text-indent: 2em; }
    .article-detail .article-content ol, .article-detail .article-content ul {
      margin-left: 2em; }
    .article-detail .article-content .step-order-list {
      list-style: none; }
      .article-detail .article-content .step-order-list li {
        line-height: 26px;
        border-bottom: 1px dashed #eee;
        margin-bottom: 10px; }
    .article-detail .article-content .update-info {
      border: 2px dashed #ddd;
      line-height: 2em;
      padding: 10px;
      background-color: #eaf7f3;
      margin: 10px auto; }
      .article-detail .article-content .update-info p {
        margin: 0; }
    .article-detail .article-content p.img-desc {
      text-indent: 0;
      border-bottom: 1px dashed #ddd;
      text-align: center;
      margin: 10px 0 30px; }
    .article-detail .article-content .img-wrap {
      margin: 10px auto; }
    .article-detail .article-content img {
      max-width: 100%;
      /* 文章正文图片浮上时放大 */
      /*&:hover{
          transform:scale(1.01, 1.01);
          transition:.5s transform;
          border:0;
          box-shadow:0 0 13px 2px #aaa
      }*/ }
      .article-detail .article-content img.img-show {
        box-shadow: 0 0 1px #555555;
        border-radius: 7px; }
        .article-detail .article-content img.img-show:hover {
          box-shadow: 0 0 6px 1px #8e8d8d; }
    .article-detail .article-content .explain {
      margin: 2em;
      padding: 2em;
      font-size: 12px;
      border: 1px solid #f2f2f2;
      border-radius: 6px;
      color: #888;
      background-color: #fbfbfb; }
    .article-detail .article-content blockquote {
      border: 2px solid #e6e6e6;
      padding: 15px;
      margin: 1em 2em;
      background-color: #fbfbfb;
      color: #555; }
    .article-detail .article-content kbd {
      text-indent: 0;
      margin: 0 2px; }
    .article-detail .article-content .pre-wrap,
    .article-detail .article-content .pre-show,
    .article-detail .article-content > pre {
      margin: 0 2em; }
    .article-detail .article-content .notice {
      padding: 15px;
      margin: 2em; }
      .article-detail .article-content .notice > p {
        margin: 0; }
      .article-detail .article-content .notice.success {
        color: #3c763d;
        background-color: #dff0d8;
        border: 1px solid #c5e2ac; }
      .article-detail .article-content .notice.warning {
        color: #343434;
        background-color: #fdf7cf;
        border: 1px solid #fbe4c3; }
      .article-detail .article-content .notice.danger {
        color: #542828;
        background-color: #ffe8e8;
        border: 1px solid #fdd2d2; }
    .article-detail .article-content .details {
      cursor: default;
      outline: none;
      padding: 16px; }
      .article-detail .article-content .details .summary {
        margin-bottom: 10px;
        outline: none; }
    .article-detail .article-content .syntaxhighlighter .container > div:nth-child(2n+1) {
      background-color: #f9f9f9 !important; }

/*# sourceMappingURL=default.css.map */
