@charset "UTF-8";
/**
 * @doc 页面框架样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */

$headerHeight:30px;
$footerHeight:100px;
$exampleMainContentHeight:600px;
$exampleMainTopContentHeight:120px;
$exampleMainBottomContentHeight:120px;
$exampleMainTopBlockHeight:140px;
$exampleMainBottomBlockHeight:140px;

$bodyBgColor:#e9e9e9;
$mainContentBgColor:#fff;

/* S 页面框架结构 S */
.responsive{
    .header{
        background-color:#f4f4f4;
        height:$headerHeight;
    }
    .footer{
        height:$footerHeight;
        background-color:#686b6c;
    }

    /* S 中间主体 S */
    /* 中心主体上下全宽内容 */
    .main{
        /* 全宽区域 */
        .main-top,
        .main-bottom{
        }

        .main-top{
            background:#fff;
            margin-bottom:12px
        }
        .main-bottom{
            background:#fff;
            margin-bottom:12px
        }

        /* 中心主体上下主宽内容 */
        .main-wrap{
            .main-content-top,
            .main-content-bottom{
            }

            /* 中心主体上下内容 */
            .main-content-top{
                background:#fff;
                margin-bottom:12px;
            }
            .main-content-bottom{
                background:#fff;
                margin-bottom:12px;
            }

            /* 中心主体内容 */
            .main-content{
                margin-bottom:12px;
                //background-color:$mainContentBgColor;
                .center-wrap{
                    .center-content{
                        min-height:$exampleMainContentHeight;
                        background-color:#fff;
                        overflow:hidden; // 防止margin-top导致塌陷问题
                    }
                }

                /* 左侧栏 */
                .left-wrap{
                    padding-right:10px;
                }
                .left-wrap .left-content{
                    background:#fff;
                    min-height:$exampleMainContentHeight;
                }

                /* 右侧工具栏 */
                .right-wrap{
                    padding-left:10px;
                }
                .right-wrap .right-content{
                    background:#fff;
                    min-height:$exampleMainContentHeight;
                }
            }
        }
    }

    .left-bar,
    .right-bar{
        position:fixed;
        z-index:2;
        top:0;
        height:100%;
    }
    /* 左侧盯住栏 */
    .left-bar{
        left:0;
        width:50px;
        background:rgba(215, 230, 233, 0.5)
    }
    /* 右侧盯住栏 */
    .right-bar{
        right:0;
        width:35px;
        background:rgba(0, 0, 0, .5)
    }

}
/* 页面框架示例布局 */
.responsive-example{
    .header{
        height:$headerHeight;
    }
    .footer{
        height:$footerHeight;
    }

    /* S 中间主体 S */
    /* 中心主体上下全宽内容 */
    .main{
        /* 全宽区域 */
        .main-top,
        .main-bottom{
            height:$exampleMainTopContentHeight;
        }

        .main-top{
        }
        .main-bottom{
        }

        /* 中心主体上下主宽内容 */
        .main-wrap{
            .main-content-top,
            .main-content-bottom{
                height:$exampleMainTopBlockHeight;
            }

            /* 中心主体上下内容 */
            .main-content-top{
            }
            .main-content-bottom{
            }

            /* 中心主体内容 */
            .main-content{
                .center-wrap{
                    .center-content{
                        height:$exampleMainContentHeight;
                    }
                }

                /* 左侧栏 */
                .left-wrap{
                }
                .left-wrap .left-content{
                }

                /* 右侧工具栏 */
                .right-wrap{
                }
                .right-wrap .right-content{
                }
            }
        }
    }

    .left-bar,
    .right-bar{
    }
    /* 左侧盯住栏 */
    .left-bar{
        width:50px;
        background:rgba(215, 230, 233, 0.5)
    }
    /* 右侧盯住栏 */
    .right-bar{
        width:35px;
        background:rgba(0, 0, 0, .5)
    }

    /* E 页面框架结构标记 E */
    &.marked{
        .header:before,
        .footer:before{
            display:inline-block;
            width:100%;
            text-align:center;
        }
        .header:before{
            content:"头部";
        }
        .footer:before{
            content:"脚部";
            color:#fff;
        }

        .main{
            .main-top:before,
            .main-bottom:before,
            .main-content-top:before,
            .main-content-bottom:before{
                display:inline-block;
                width:100%;
                text-align:center;
            }

            .main-top:before{
                content:"顶部全宽";
            }
            .main-bottom:before{
                content:"底部全宽";
            }
            .main-content-top:before{
                content:"主体顶部主体宽";
            }
            .main-content-bottom:before{
                content:"主体底部主体宽";
            }

            .main-content{
                position:relative;
                &:before,
                .center-wrap:before{
                    position:absolute;
                    left:0;
                    top:0;
                    width:100%;
                    text-align:center;
                    z-index:2;
                }
                &:before{
                    content:"中心主体内容大区块";
                }

                .center-wrap:before{
                    content:"中心主体内容中心";
                    top:50%;
                }

                .left-wrap,
                .right-wrap{
                    position:relative;
                }

                .left-wrap:before,
                .right-wrap:before{
                    position:absolute;
                    margin:auto;
                    top:50%;
                    width:1em;
                    transform:translateY(-50%);
                    display:inline-block;
                }
                .left-wrap:before{
                    content:"左侧栏";
                    left:2px;
                }
                .right-wrap:before{
                    content:"右侧栏";
                    right:2px;
                }
            }
        }

        .left-bar:before,
        .right-bar:before{
            position:absolute;
            margin:auto;
            top:50%;
            width:1em;
            transform:translateY(-50%);
            display:inline-block;
        }

        .left-bar:before{
            content:"左侧钉住工具栏";
            color:#98618b;
            left:2px;
        }
        .right-bar:before{
            content:"右侧钉住工具栏";
            color:#fff;
            right:2px;
        }
    }
}