@charset "UTF-8";
/**
 * @doc footer页脚样式
 * @author Heanes
 * @time 2018-04-16 12:05:01 周一
 */
/* S 脚部 S */
.footer {
  /* 脚部装饰 */ }
  .footer .footer-content {
    background: #212121; }
    .footer .footer-content.footer-top-border {
      border-top: 14px solid #000; }
    .footer .footer-content a:hover {
      text-decoration: underline; }
    .footer .footer-content .footer-top-wrap {
      /* 社会化链接 */ }
      .footer .footer-content .footer-top-wrap .footer-website-logo, .footer .footer-content .footer-top-wrap .add-link {
        display: inline-block;
        vertical-align: top; }
      .footer .footer-content .footer-top-wrap .footer-website-logo {
        padding: 30px;
        text-align: center;
        border-radius: 50%; }
        .footer .footer-content .footer-top-wrap .footer-website-logo:hover {
          background-color: #eee;
          border-radius: 50%; }
          .footer .footer-content .footer-top-wrap .footer-website-logo:hover .footer-website-home-link {
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
            -webkit-animation: rotateAlways 2s linear infinite; }
            .footer .footer-content .footer-top-wrap .footer-website-logo:hover .footer-website-home-link .logo-img {
              box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5); }
        .footer .footer-content .footer-top-wrap .footer-website-logo .footer-website-home-link {
          display: block;
          padding: 24px;
          border-radius: 50%; }
          .footer .footer-content .footer-top-wrap .footer-website-logo .footer-website-home-link .logo-img {
            width: 80px;
            max-width: 80px;
            border-radius: 10px; }
      .footer .footer-content .footer-top-wrap .add-link {
        padding-left: 10px; }
        .footer .footer-content .footer-top-wrap .add-link .link-group {
          margin: 10px 0 0; }
          .footer .footer-content .footer-top-wrap .add-link .link-group > li {
            display: inline-block;
            width: 160px; }
          .footer .footer-content .footer-top-wrap .add-link .link-group .link-category {
            font-size: 14px;
            height: 26px;
            color: #8c8c8c;
            padding-left: 10px;
            margin-bottom: 0; }
          .footer .footer-content .footer-top-wrap .add-link .link-group .link-list {
            margin: 0 auto; }
            .footer .footer-content .footer-top-wrap .add-link .link-group .link-list li {
              padding-left: 10px;
              height: 28px;
              line-height: 28px;
              overflow: hidden; }
            .footer .footer-content .footer-top-wrap .add-link .link-group .link-list a {
              color: #b5b5b5;
              font-size: 13px; }
              .footer .footer-content .footer-top-wrap .add-link .link-group .link-list a:hover {
                color: #e7e7e8; }
      .footer .footer-content .footer-top-wrap .link-social {
        padding: 10px 0;
        text-align: center; }
        .footer .footer-content .footer-top-wrap .link-social .social-icon {
          display: inline-block;
          width: 48px;
          height: 48px;
          background: #eee url("../../image/footer/footer-sprite.png") no-repeat;
          background-size: 300px;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon:last-child {
            margin-right: 0; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon.qq {
            background-position: 2px -42px; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.qq:hover {
              background-position: 2px 3px; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon.wechat {
            background-position: -42px -42px;
            position: relative; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.wechat:hover {
              background-position: -42px 4px; }
              .footer .footer-content .footer-top-wrap .link-social .social-icon.wechat:hover .focused-show {
                display: block;
                width: 200px; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.wechat .focused-show {
              position: absolute;
              display: none;
              bottom: 100%;
              right: 50%;
              transform: translateX(100px) translateY(-5px); }
              .footer .footer-content .footer-top-wrap .link-social .social-icon.wechat .focused-show .img {
                max-width: 100%; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon.weibo {
            background-position: -88px -42px; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.weibo:hover {
              background-position: -88px 3px; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon.github {
            background-position: -133px -44px; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.github:hover {
              background-position: -133px 1px;
              background-color: #aaa; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon.zhihu {
            background-position: -178px -42px; }
            .footer .footer-content .footer-top-wrap .link-social .social-icon.zhihu:hover {
              background-position: -178px 3px; }
          .footer .footer-content .footer-top-wrap .link-social .social-icon .link {
            display: block;
            width: 100%;
            height: 100%; }
    .footer .footer-content .footer-bottom-wrap .copyright {
      background-color: #000;
      color: #5d5d5d;
      font-size: 13px;
      padding: 6px 0; }
      .footer .footer-content .footer-bottom-wrap .copyright .p {
        text-align: center;
        line-height: 20px;
        margin: 0; }
        .footer .footer-content .footer-bottom-wrap .copyright .p .span:hover {
          color: #e7e7e8; }
          .footer .footer-content .footer-bottom-wrap .copyright .p .span:hover a {
            color: #e7e7e8; }
        .footer .footer-content .footer-bottom-wrap .copyright .p .span a {
          color: #5d5d5d; }
          .footer .footer-content .footer-bottom-wrap .copyright .p .span a:hover {
            color: #7c94e8; }
  .footer .footer-decorate {
    background-color: #fff; }
    .footer .footer-decorate .footer-animal {
      position: relative;
      bottom: 0;
      height: 60px; }
      .footer .footer-decorate .footer-animal .footer-footprint {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 35px;
        background: url(../../image/footer/other/footprint-to-right.png) repeat-x;
        background-size: contain; }
      .footer .footer-decorate .footer-animal .footer-footprint img {
        width: 70px;
        -webkit-transform: rotate(90deg); }
      .footer .footer-decorate .footer-animal .footer-cat {
        position: absolute;
        right: 0;
        width: 200px;
        bottom: 0;
        padding-left: 20px;
        z-index: 2;
        background-color: #fff;
        border-radius: 50% 0 0 50%; }
      .footer .footer-decorate .footer-animal .footer-cat img {
        max-width: 70px; }

/* E 脚部 E */

/*# sourceMappingURL=footer.css.map */
