@charset "UTF-8";
/**
 * @doc css
 * @author Heanes
 * @time 2017-09-07 19:45:24 周四
 */
/**
 * @doc responsive 响应式
 */
/**
 * @doc 前台响应式样式
 * @author Heanes
 * @time 2017-05-12 10:56:46 周五
 */
/* Responsive */
/* extra widely screen */
/*@media screen and (min-width:1921px){
    .main-wrap{width:1840px;}
    .center-wrap{width:1300px;}
    .right-fix-block .right-corner{margin-left:679px;}
}*/
/* Widely screen */
/* 显示左右钉住工具栏 */
@media screen and (min-width: 1367px) {
  .main-wrap {
    width: 94%;
    max-width: 1600px; }
    .main-wrap .left-wrap {
      width: 260px;
      position: relative;
      margin-right: -260px;
      z-index: 2; }
    .main-wrap .right-wrap {
      width: 260px;
      position: relative;
      margin-left: -260px; }
    .main-wrap .center-wrap {
      position: relative;
      width: 100%;
      padding-left: 260px;
      padding-right: 260px; } }
/* Normal noteBook */
/* 此宽度下不显示左右钉住工具栏，不显示左侧栏 */
@media screen and (max-width: 1366px) {
  .main-wrap {
    width: 1200px;
    /*.center-wrap .center-content{
        position:relative;
        margin-right:$rightWrapWidth;
    }*/ }
    .main-wrap .center-wrap {
      width: 100%;
      position: relative;
      padding-right: 260px; }
    .main-wrap .right-wrap {
      width: 260px;
      position: relative;
      margin-left: -260px; }
    .main-wrap .left-wrap {
      display: none; }

  .left-wrap, .left-bar, .right-bar {
    display: none; } }
@media screen and (max-width: 1200px) {
  .main-wrap {
    width: 100%;
    float: none; }
    .main-wrap .center-wrap {
      width: 100%; } }
@media screen and (max-width: 767px) {
  .main-wrap .center-wrap {
    padding-right: 0; }
  .main-wrap .right-wrap {
    display: none; } }
/* iPad */
@media screen and (max-width: 479px) {
  h1, h2 {
    font-size: 16px; }

  h3 {
    font-size: 14px; } }
/* iPhone 6plus */
/* iPhone 6 */
/* iPhone 3 4 5 */
/* Android and + */
/* Android and + */
/* 设备分辨率媒体查询 */
/**
 * @doc layout 布局样式
 */
/**
 * @doc 页面框架样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* S 页面框架结构 S */
.responsive {
  /* S 中间主体 S */
  /* 中心主体上下全宽内容 */
  /* 左侧盯住栏 */
  /* 右侧盯住栏 */ }
  .responsive .header {
    background-color: #f4f4f4;
    height: 30px; }
  .responsive .footer {
    height: 100px;
    background-color: #686b6c; }
  .responsive .main {
    /* 全宽区域 */
    /* 中心主体上下主宽内容 */ }
    .responsive .main .main-top {
      background: #fff;
      margin-bottom: 12px; }
    .responsive .main .main-bottom {
      background: #fff;
      margin-bottom: 12px; }
    .responsive .main .main-wrap {
      /* 中心主体上下内容 */
      /* 中心主体内容 */ }
      .responsive .main .main-wrap .main-content-top {
        background: #fff;
        margin-bottom: 12px; }
      .responsive .main .main-wrap .main-content-bottom {
        background: #fff;
        margin-bottom: 12px; }
      .responsive .main .main-wrap .main-content {
        margin-bottom: 12px;
        /* 左侧栏 */
        /* 右侧工具栏 */ }
        .responsive .main .main-wrap .main-content .center-wrap .center-content {
          min-height: 600px;
          background-color: #fff;
          overflow: hidden; }
        .responsive .main .main-wrap .main-content .left-wrap {
          padding-right: 10px; }
        .responsive .main .main-wrap .main-content .left-wrap .left-content {
          background: #fff;
          min-height: 600px; }
        .responsive .main .main-wrap .main-content .right-wrap {
          padding-left: 10px; }
        .responsive .main .main-wrap .main-content .right-wrap .right-content {
          background: #fff;
          min-height: 600px; }
  .responsive .left-bar,
  .responsive .right-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%; }
  .responsive .left-bar {
    left: 0;
    width: 50px;
    background: rgba(215, 230, 233, 0.5); }
  .responsive .right-bar {
    right: 0;
    width: 35px;
    background: rgba(0, 0, 0, 0.5); }

/* 页面框架示例布局 */
.responsive-example {
  /* S 中间主体 S */
  /* 中心主体上下全宽内容 */
  /* 左侧盯住栏 */
  /* 右侧盯住栏 */
  /* E 页面框架结构标记 E */ }
  .responsive-example .header {
    height: 30px; }
  .responsive-example .footer {
    height: 100px; }
  .responsive-example .main {
    /* 全宽区域 */
    /* 中心主体上下主宽内容 */ }
    .responsive-example .main .main-top,
    .responsive-example .main .main-bottom {
      height: 120px; }
    .responsive-example .main .main-wrap {
      /* 中心主体上下内容 */
      /* 中心主体内容 */ }
      .responsive-example .main .main-wrap .main-content-top,
      .responsive-example .main .main-wrap .main-content-bottom {
        height: 140px; }
      .responsive-example .main .main-wrap .main-content {
        /* 左侧栏 */
        /* 右侧工具栏 */ }
        .responsive-example .main .main-wrap .main-content .center-wrap .center-content {
          height: 600px; }
  .responsive-example .left-bar {
    width: 50px;
    background: rgba(215, 230, 233, 0.5); }
  .responsive-example .right-bar {
    width: 35px;
    background: rgba(0, 0, 0, 0.5); }
  .responsive-example.marked .header:before,
  .responsive-example.marked .footer:before {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .responsive-example.marked .header:before {
    content: "头部"; }
  .responsive-example.marked .footer:before {
    content: "脚部";
    color: #fff; }
  .responsive-example.marked .main .main-top:before,
  .responsive-example.marked .main .main-bottom:before,
  .responsive-example.marked .main .main-content-top:before,
  .responsive-example.marked .main .main-content-bottom:before {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .responsive-example.marked .main .main-top:before {
    content: "顶部全宽"; }
  .responsive-example.marked .main .main-bottom:before {
    content: "底部全宽"; }
  .responsive-example.marked .main .main-content-top:before {
    content: "主体顶部主体宽"; }
  .responsive-example.marked .main .main-content-bottom:before {
    content: "主体底部主体宽"; }
  .responsive-example.marked .main .main-content {
    position: relative; }
    .responsive-example.marked .main .main-content:before,
    .responsive-example.marked .main .main-content .center-wrap:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
      z-index: 2; }
    .responsive-example.marked .main .main-content:before {
      content: "中心主体内容大区块"; }
    .responsive-example.marked .main .main-content .center-wrap:before {
      content: "中心主体内容中心";
      top: 50%; }
    .responsive-example.marked .main .main-content .left-wrap,
    .responsive-example.marked .main .main-content .right-wrap {
      position: relative; }
    .responsive-example.marked .main .main-content .left-wrap:before,
    .responsive-example.marked .main .main-content .right-wrap:before {
      position: absolute;
      margin: auto;
      top: 50%;
      width: 1em;
      transform: translateY(-50%);
      display: inline-block; }
    .responsive-example.marked .main .main-content .left-wrap:before {
      content: "左侧栏";
      left: 2px; }
    .responsive-example.marked .main .main-content .right-wrap:before {
      content: "右侧栏";
      right: 2px; }
  .responsive-example.marked .left-bar:before,
  .responsive-example.marked .right-bar:before {
    position: absolute;
    margin: auto;
    top: 50%;
    width: 1em;
    transform: translateY(-50%);
    display: inline-block; }
  .responsive-example.marked .left-bar:before {
    content: "左侧钉住工具栏";
    color: #98618b;
    left: 2px; }
  .responsive-example.marked .right-bar:before {
    content: "右侧钉住工具栏";
    color: #fff;
    right: 2px; }

/**
 * @doc common 公共
 */
/**
 * @doc common
 * @author Heanes
 * @time 2017-09-07 19:44:42 周四
 */
/**
 * @doc style 基本风格样式
 * @author Heanes
 * @time 2017-09-10 19:42:53 周日
 */
html, body {
  background: url("../image/common/bg.jpg") repeat #eee; }

/* S 字体样式 S */
body, button, input, select, textarea {
  font: 14px/1.3 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  color: #333; }

/* E 字体样式 E */
/* S 标题样式 S */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/* E 标题样式 E */
/* S 链接样式 S */
a {
  color: #326eb4;
  text-decoration: none; }

/* a标签还未被访问的状态 */
/* a标签已被访问过的状态 */
a:visited {
  color: #326eb4; }

a:hover {
  color: #326eb4;
  text-decoration: none; }

a:active {
  color: #8f001e; }

/* E 链接样式 E */
/* S 文字被选中样式 S */
::selection {
  background-color: #447099;
  color: #fff; }

::-moz-selection {
  background: #447099;
  color: #fff; }

/* E 文字被选中样式 E */
ul {
  margin-left: 4em; }

/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed {
  position: fixed;
  z-index: 100; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  content: " ";
  display: block; }

.clear-left {
  clear: left;
  content: " ";
  display: block; }

.clear-right {
  clear: right;
  content: " ";
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.for-eye-protect {
  background: #e3edcd; }

.none {
  display: none; }

.relative {
  position: relative; }

/* iframe */
iframe {
  display: block;
  width: 100%;
  border: 0; }

/* 通用命名下的样式 */
.wrap {
  width: 100%; }

.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap {
  margin: 0 auto; }

[class*="-wrap"] {
  margin: 0 auto; }

.fl {
  float: left; }

/**
 * @doc 页面面包屑导航
 * @author Heanes
 * @time 2017-10-23 11:46:46 周一
 */
.page-breadcrumb {
  margin: 4px 14px;
  padding: 8px;
  background-color: #fff;
  border-bottom: 1px solid #f0efeb; }
  .page-breadcrumb.bg-normal {
    background-color: #f5f5f5;
    border: 1px solid #ddd; }

/**
 * @doc article 文章
 */
/**
 * @doc 文章相关
 * @author Heanes
 * @time 2017-09-08 18:44:06 周五
 */
/**************************************文章列表页面*******************************/
.article-list-wrap {
  padding: 30px 10px;
  /**
   * @doc 文章分页
   */ }
  .article-list-wrap .article-list-row {
    margin-bottom: 20px; }
    .article-list-wrap .article-list-row .link:hover {
      background-color: #008fb5;
      color: #fff; }
    .article-list-wrap .article-list-row .info-item,
    .article-list-wrap .article-list-row .info-item .item-name,
    .article-list-wrap .article-list-row .info-item .item-value {
      display: inline-block;
      font-size: 13px;
      margin-bottom: 0; }
    .article-list-wrap .article-list-row .article-title .title {
      font-size: 24px;
      font-weight: 300;
      border-left: 6px solid #008fb5;
      padding-left: 24px; }
      .article-list-wrap .article-list-row .article-title .title .title-link {
        line-height: 30px; }
        .article-list-wrap .article-list-row .article-title .title .title-link:visited {
          color: #6594b7; }
        .article-list-wrap .article-list-row .article-title .title .title-link:hover {
          color: #fff; }
    .article-list-wrap .article-list-row .article-title.no-data {
      padding-left: 30px; }
      .article-list-wrap .article-list-row .article-title.no-data .no-data-title {
        font-size: 24px;
        color: #555;
        font-weight: 300; }
    .article-list-wrap .article-list-row .article-info {
      padding: 10px 6px 6px 30px;
      border-bottom: 1px #ddd dashed;
      color: #bbb; }
      .article-list-wrap .article-list-row .article-info .info-item {
        margin-right: 14px;
        margin-bottom: 10px; }
      .article-list-wrap .article-list-row .article-info .article-category-info {
        text-align: right; }
        .article-list-wrap .article-list-row .article-info .article-category-info .item-value {
          padding-left: 6px; }
        .article-list-wrap .article-list-row .article-info .article-category-info .article-category .item-name {
          padding-left: 6px; }
          .article-list-wrap .article-list-row .article-info .article-category-info .article-category .item-name .label-icon {
            margin-right: 4px; }
  .article-list-wrap .article-pager {
    margin: 0 auto;
    text-align: center; }

/**************************************文章详情页面*******************************/
.article-detail-page {
  /* 面包屑导航 */
  /* 文章作者相关信息 */
  /* 文章相关信息 */
  /* 文章相关操作 */
  /* 前后文章 */
  /* 评论 */
  /* 评论列表 */ }
  .article-detail-page .page-breadcrumb {
    padding: 2px 5px;
    border-bottom: 3px solid #57adfd;
    line-height: 24px; }
  .article-detail-page.article-category, .article-detail-page.article-relate-block, .article-detail-page.article-comment-block {
    margin-left: 10px;
    margin-right: 10px; }
  .article-detail-page .article-block {
    padding: 20px 10px;
    /* 文章摘要 */
    /* 文章正文 */ }
    .article-detail-page .article-block .article-title-block {
      position: relative;
      border-bottom: 1px #ddd dashed;
      color: #222;
      /* 操作图标不允许选中 */ }
      .article-detail-page .article-block .article-title-block.fixed {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 900px;
        background-color: white; }
      .article-detail-page .article-block .article-title-block .article-title {
        text-align: center; }
      .article-detail-page .article-block .article-title-block .article-title .entry-title {
        font-size: 23px; }
      .article-detail-page .article-block .article-title-block .article-info {
        color: #666;
        padding: 10px 0; }
        .article-detail-page .article-block .article-title-block .article-info .article-info-dl {
          text-align: center; }
        .article-detail-page .article-block .article-title-block .article-info .article-info-dl dt,
        .article-detail-page .article-block .article-title-block .article-info .article-info-dl dd {
          display: inline-block;
          vertical-align: top;
          font-size: 12px;
          font-weight: 400; }
        .article-detail-page .article-block .article-title-block .article-info .article-info-dl dd {
          margin-right: 4px; }
        .article-detail-page .article-block .article-title-block .article-info p {
          text-align: center;
          font-size: 12px; }
        .article-detail-page .article-block .article-title-block .article-info p .comment-num {
          color: #666; }
      .article-detail-page .article-block .article-title-block .article-operate {
        position: absolute;
        top: -20px;
        right: 18px;
        color: #777;
        user-select: none; }
        .article-detail-page .article-block .article-title-block .article-operate .op-item {
          cursor: pointer; }
          .article-detail-page .article-block .article-title-block .article-operate .op-item:hover {
            color: #07adf9; }
          .article-detail-page .article-block .article-title-block .article-operate .op-item::selection {
            background-color: #fff;
            color: #07adf9; }
        .article-detail-page .article-block .article-title-block .article-operate .op-to-large-text,
        .article-detail-page .article-block .article-title-block .article-operate .op-to-small-text {
          display: inline-block;
          width: 20px;
          text-align: center; }
        .article-detail-page .article-block .article-title-block .article-operate .op-to-large-text:hover,
        .article-detail-page .article-block .article-title-block .article-operate .op-to-small-text:hover {
          background-color: #00a0e9;
          color: #fff; }
        .article-detail-page .article-block .article-title-block .article-operate .op-to-small-text {
          font-size: 14px; }
        .article-detail-page .article-block .article-title-block .article-operate .op-to-large-text {
          font-size: 20px;
          font-weight: 600; }
        .article-detail-page .article-block .article-title-block .article-operate .op-share-btn {
          font-size: 18px; }
    .article-detail-page .article-block .article-abstract {
      font-size: 12px;
      margin: 20px auto;
      padding: 16px 10px 14px;
      border: 1px solid #bad7bb;
      background-color: #f1fff2; }
    .article-detail-page .article-block .article-content {
      _border-top: 1px solid #07adf9;
      padding: 10px;
      word-break: break-all;
      /* 文章正文图片浮上时放大 */
      /*img:hover{-webkit-transform:scale(1.01,1.01);-moz-transform:scale(1.01,1.01);-ms-transform:scale(1.01,1.01);-o-transform:scale(1.01,1.01);transform:scale(1.01,1.01);transition:.5s transform;-webkit-transition:.5s transform;border:0;box-shadow:0 0 13px 2px #aaa}*/ }
      .article-detail-page .article-block .article-content h2.title-text {
        margin-bottom: 46px; }
      .article-detail-page .article-block .article-content h3.title-text {
        margin-bottom: 30px; }
      .article-detail-page .article-block .article-content p {
        line-height: 2em;
        font-size: 13px;
        margin-bottom: 0.3em; }
        .article-detail-page .article-block .article-content p kbd {
          text-indent: 0;
          margin: 0 2px; }
        .article-detail-page .article-block .article-content p.tip {
          text-indent: 0;
          background-color: #f8f8f8;
          border-left: 4px solid #f66;
          padding: 12px 20px; }
      .article-detail-page .article-block .article-content > p, .article-detail-page .article-block .article-content p.is-normal {
        text-indent: 2em; }
      .article-detail-page .article-block .article-content p.img-desc {
        text-indent: 0;
        border-bottom: 1px dashed #ddd;
        text-align: center;
        margin: 10px 0 30px; }
      .article-detail-page .article-block .article-content .step-order-list {
        list-style: none; }
        .article-detail-page .article-block .article-content .step-order-list li {
          line-height: 26px;
          border-bottom: 1px dashed #eee;
          margin-bottom: 10px; }
      .article-detail-page .article-block .article-content .update-info {
        border: 2px dashed #ddd;
        line-height: 2em;
        padding: 4px 10px;
        background-color: #eaf7f3;
        margin: 10px auto; }
        .article-detail-page .article-block .article-content .update-info p {
          margin: 0; }
      .article-detail-page .article-block .article-content img {
        max-width: 100%; }
        .article-detail-page .article-block .article-content img.img-show {
          box-shadow: 0 0 6px 2px #d3d3d3;
          padding: 10px;
          border: 1px solid #ddd; }
          .article-detail-page .article-block .article-content img.img-show:hover {
            box-shadow: 0 0 9px 2px #8e8d8d; }
      .article-detail-page .article-block .article-content ol, .article-detail-page .article-block .article-content ul {
        margin-left: 2em; }
      .article-detail-page .article-block .article-content .pre-wrap {
        padding: 0 2em; }
  .article-detail-page .article-author-info {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 4px;
    margin: 20px 30px;
    background-color: #f9f9f9; }
    .article-detail-page .article-author-info .link:hover {
      text-decoration: underline; }
    .article-detail-page .article-author-info .inline-block {
      display: inline-block;
      vertical-align: top; }
    .article-detail-page .article-author-info .author-avatar {
      width: 110px;
      height: 110px;
      padding: 10px; }
    .article-detail-page .article-author-info .author-avatar .avatar-img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 4px solid #c8d7e2;
      background-repeat: no-repeat;
      background-size: cover;
      transition: transform .4s ease-out; }
    .article-detail-page .article-author-info .author-avatar .avatar-img:hover {
      transform: rotateZ(360deg);
      box-shadow: 0 0 10px 0 #0086e3; }
    .article-detail-page .article-author-info .author-info {
      padding: 4px 14px; }
      .article-detail-page .article-author-info .author-info .author-nickname {
        color: #0086e3;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px; }
        .article-detail-page .article-author-info .author-info .author-nickname:hover {
          text-decoration: underline; }
      .article-detail-page .article-author-info .author-info .author-about {
        color: #999;
        font-size: 13px;
        margin-bottom: 10px; }
      .article-detail-page .article-author-info .author-info .author-description {
        color: #666;
        font-size: 13px;
        margin-bottom: 6px;
        min-height: 30px; }
      .article-detail-page .article-author-info .author-info .author-links {
        font-size: 13px; }
        .article-detail-page .article-author-info .author-info .author-links .vertical-line-margin {
          padding: 0 4px;
          color: #ddd; }
        .article-detail-page .article-author-info .author-info .author-links .donate-to-author {
          color: #e56625; }
    .article-detail-page .article-author-info .article-author-info-title {
      position: absolute;
      right: 20px;
      top: -1px;
      background-color: #666;
      color: #fff;
      border-radius: 0 0 5px 5px;
      padding: 6px;
      font-size: 13px; }
  .article-detail-page .article-meta {
    margin: 10px 0;
    padding: 0 30px; }
    .article-detail-page .article-meta .meta-define-list {
      font-size: 13px;
      color: #444;
      line-height: 28px; }
      .article-detail-page .article-meta .meta-define-list .item-name,
      .article-detail-page .article-meta .meta-define-list .item-value {
        display: inline-block;
        vertical-align: top; }
      .article-detail-page .article-meta .meta-define-list .item-value .url {
        font-weight: 300; }
        .article-detail-page .article-meta .meta-define-list .item-value .url:hover {
          background-color: #0086e3;
          color: #fff; }
  .article-detail-page .article-handle {
    padding: 5px 10px;
    /* 文章分享 */ }
    .article-detail-page .article-handle .article-collect {
      margin-right: 24px; }
    .article-detail-page .article-handle .article-vote {
      padding: 10px;
      text-align: right; }
      .article-detail-page .article-handle .article-vote .vote-icon {
        margin: 0 3px; }
      .article-detail-page .article-handle .article-vote .vote-link {
        color: #326eb4; }
        .article-detail-page .article-handle .article-vote .vote-link:hover {
          color: #e56625; }
    .article-detail-page .article-handle .article-share-block {
      border-top: 2px solid #6ac134; }
      .article-detail-page .article-handle .article-share-block .share-title {
        padding: 8px 3px; }
        .article-detail-page .article-handle .article-share-block .share-title .share-title-text {
          font-size: 16px; }
  .article-detail-page .article-preview-forward {
    line-height: 18px;
    background: #eee;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px 0;
    margin: 5px 15px; }
    .article-detail-page .article-preview-forward .p {
      padding: 4px 0;
      text-indent: 2em; }
      .article-detail-page .article-preview-forward .p .a:hover {
        color: #ff9500; }
  .article-detail-page .add-comment-block .add-comment-title {
    font-size: 17px;
    background: #07adf9;
    padding: 6px 10px; }
    .article-detail-page .add-comment-block .add-comment-title .link {
      color: #fff; }
  .article-detail-page .add-comment-block .add-comment-remind {
    color: #888;
    font-size: 12px;
    padding: 6px 10px;
    border-bottom: 5px solid #07adf9; }
  .article-detail-page .add-comment-block .add-comment .comment-add-form {
    padding: 10px; }
    .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group {
      margin-bottom: 10px; }
      .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group.inline {
        display: inline-block;
        margin-right: 18px; }
      .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group .form-control {
        width: auto;
        border: 1px solid #d9ecfb; }
        .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group .form-control:hover, .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group .form-control:focus {
          outline: none;
          border-color: #82cdff; }
      .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group .comment-textarea {
        width: 100%;
        height: 200px;
        line-height: 24px;
        resize: none;
        font-size: 14px;
        padding: 4px 8px; }
      .article-detail-page .add-comment-block .add-comment .comment-add-form .input-group label .must {
        color: red;
        padding-right: 4px;
        vertical-align: middle; }
  .article-detail-page .add-comment-block .add-comment .add-comment-handle {
    text-align: right;
    position: relative; }
    .article-detail-page .add-comment-block .add-comment .add-comment-handle .submit-button {
      position: absolute;
      top: -60px;
      right: 5px;
      background: #07adf9;
      color: #fff;
      width: 100px;
      height: 45px; }
      .article-detail-page .add-comment-block .add-comment .add-comment-handle .submit-button:hover {
        background-color: #00a0e9; }
  .article-detail-page .comment-list-block {
    margin: 10px 0;
    position: relative; }
    .article-detail-page .comment-list-block .comment-list-handle {
      position: absolute;
      right: 20px;
      top: 8px;
      color: #fff; }
      .article-detail-page .comment-list-block .comment-list-handle .refresh-comment-list {
        color: #fff;
        padding: 0 8px; }
    .article-detail-page .comment-list-block .comment-list-title {
      font-size: 17px;
      background: #07adf9;
      padding: 6px 10px; }
      .article-detail-page .comment-list-block .comment-list-title .link {
        color: #fff; }
    .article-detail-page .comment-list-block .comment-list {
      margin-left: 0; }
      .article-detail-page .comment-list-block .comment-list .comment-wrap {
        border-bottom: 1px #e7e7e7 dotted;
        padding: 10px;
        overflow: hidden; }
        .article-detail-page .comment-list-block .comment-list .comment-wrap:hover {
          background: #f5fafe;
          border-bottom: 1px #d2e8fa solid; }
        .article-detail-page .comment-list-block .comment-list .comment-wrap.no-data-wrap {
          padding: 20px; }
        .article-detail-page .comment-list-block .comment-list .comment-wrap.get-data-error {
          display: none; }
        .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info {
          color: #777;
          font-size: 12px; }
          .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info .comment-user-avatar {
            display: inline-block;
            margin-right: 6px;
            vertical-align: middle; }
            .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info .comment-user-avatar .user-avatar {
              display: inline-block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-size: cover; }
          .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info .comment-floor {
            float: right; }
            .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info .comment-floor .comment-floor-a {
              color: #999; }
          .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-info .user-name-a {
            color: #326eb4;
            font-size: 13px; }
        .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-content {
          padding: 5px 2px;
          font-size: 14px; }
          .article-detail-page .comment-list-block .comment-list .comment-wrap .comment-content .p {
            line-height: 24px; }
      .article-detail-page .comment-list-block .comment-list .comment-handle {
        float: right;
        padding: 10px 0;
        font-size: 13px; }
        .article-detail-page .comment-list-block .comment-list .comment-handle .handle-item {
          margin-right: 16px; }
        .article-detail-page .comment-list-block .comment-list .comment-handle .border-separate {
          margin: 0 2px; }
        .article-detail-page .comment-list-block .comment-list .comment-handle .comment-vote-up {
          color: #28bd98; }
        .article-detail-page .comment-list-block .comment-list .comment-handle .comment-vote-down {
          color: #ff6f6f; }

/* 文章侧边目录 */
.article-catalog-wrap {
  width: 100%; }
  .article-catalog-wrap .auto-catalog {
    width: 250px; }

/**************************************文章列表索引页面*******************************/
.article-index-wrap {
  padding: 20px; }
  .article-index-wrap .page-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center; }
  .article-index-wrap .article-index-list-wrap {
    list-style-position: inside; }
    .article-index-wrap .article-index-list-wrap .list-item {
      padding: 4px;
      border-bottom: 1px dashed #eee;
      line-height: 24px; }

/*# sourceMappingURL=css.css.map */
